<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172187354521-f9hsnklhp5reji0c5gftcf8akrg8ca1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172187354521-f9hsnklhp5reji0c5gftcf8akrg8ca1j</string>
	<key>API_KEY</key>
	<string>AIzaSyChcZb6HkUpsKpApK5QTfjcEy2f2EHVq8M</string>
	<key>GCM_SENDER_ID</key>
	<string>172187354521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chitra-Hari.FirebaseContact</string>
	<key>PROJECT_ID</key>
	<string>fir-contact-d5b93</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-contact-d5b93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172187354521:ios:974264fd696445cd</string>
	<key>DATABASE_URL</key>
	<string>https://fir-contact-d5b93.firebaseio.com</string>
</dict>
</plist>